/* main styles for the Photo Client Portal application */
/* Author Irina Danilova */

/***** RESET *****/

body, head, footer, p, h1, h2, ul, li , a {
	margin: 0;
	padding: 0;
}

/***** GENERAL STYLING *****/
head, footer, aside, article, section {
	display: block;
}

body {
	background-color: #FFF;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 100%;
	width:    100%;
}

/***** HEADERS *****/
h1 {
	color: #82634B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: bold;
	font-size: 1.2em;
	margin-bottom: 1.5em;
}

h2  {
	color: #82634B;
	font-size: 1.1em;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-top: 20px;
}

/***** CONTENT STYLING *****/
#mainContent {
	background-color: #FFF;
	border: solid 1px #999;
	margin: 20px auto; 
	padding-top:  20px;
	padding-bottom:20px;
	width: 850px;	
}

img.floatLeft {
	float: left;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 75px;
}

article {
	margin: 15px 15px;
}

#loginform {
	clear: both;
}

#error {
	color: #f00;
	margin: 15px;
}

p {
	color : #000;
	font-style : normal;    
	font-size : 1em;
	line-height: 1.6em;
	margin: 15px 25px;
}

/***** MENU *****/
nav {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	margin-right: 5px;
	padding: 5px;
	text-align: right;
}

nav a {
	color: #fff;
	font-size: 1em;
	display: inline;
	margin-right: 20px;
	text-transform: uppercase;
}

ul li {
	background-image: url(../images/pumpkin.png);
	background-position: -2px center;
	background-repeat: no-repeat;
	list-style: none;
	margin: 15px;
	padding-left: 25px;
	padding-top: 5px;
}

#shmitterians{
	clear: both;
	margin-bottom: 15px;
	overflow: hidden;
}

a.delcust {
	font-size: 0.8em;
	font-style: normal;
}

a.custproj:link, a.custproj:hover,a.custproj:visited,a.custproj:active{
	color: #82634B;
}

#clients li {
	background-image: url(../images/pumpkin.png);
	background-position: 0 20px;
	background-repeat: no-repeat;
	border: 1px dashed #BF8C33;
	float: left;
	line-height: 1.7em;
	list-style: none;
	margin: 15px 15px 15px 5px;
	padding: 25px;
}

/* ========== LINKS =============*/
      
a:link, a:visited {
	color: #666;
	text-decoration: none;
}

 a:hover {
	border-bottom: dashed 1px #666;
 }
 
 a:active {
	 color: #999;
 }

/***** FORMS *****/
form {
	margin-left: 10px;
}
.forminput, input[type="submit"]{
	margin: 10px;
}

textarea {
	height: 250px;
	margin: 5px;
	width: 500px;
}

input[type="text"], input[type="password"] {
	width: 250px;
}

input[type="text"], textarea {
	font-size: 1em;
}

.error {
	color: #f00;
	margin-left: 10px;
}

#author {
	color: #BF8C33;
	font-size: 1em;
	font-style: italic;
	margin-bottom: 20px;
}

#post {
	color: #fff;
	font-family: cursive;
	font-size: 0.9em;
	line-height: 1.2 em;
	text-align: justify;
}


#projectslisting {
	margin: 10px auto;
}

#newclient {
	border: 2px solid #ccc;
	clear: both;
	margin: 15px auto;
	width: 750px;
}

.fancyList li {
	
	background-image: url(../images/camera.png);
	background-position: 0 7px;
	background-repeat: no-repeat;
	list-style: none;
	margin: 5px 0 10px 200px; 
	padding-left: 20px;
}


